fastapi
uvicorn[standard]
python-dotenv
pydantic
joblib
supabase
requests
faiss-cpu
google-genai
langchain-text-splitters
PyMuPDF
python-docx
numpy
scikit-learn

--extra-index-url https://download.pytorch.org/whl/cpu
torch
sentence-transformers